@commonColor: #DD001B;
@commonHoverColor: #f09a9a;
@commonBorderColor: #e1dede;
@commonGrayColor: #818181;
@commonIndexColor: #e6e4e4;
@commonActiveColor: #a7a5a5;
@maleBackColor: #C0F3FF;
@femaleBackColor: #FFCDE8;
.audioSlider {
  .marginHon10 {
    margin: 0 10px;
  }
  .sliderActions {
    height: 100px;
    text-align: center;
    background-color: #f6f4f4;
    .actionRowContainer {
      height: 100%;
      display: inline-block;
      .actionRow {
        display: table;
        height: 100%;
        .actionItem {
          display: table-cell;
          vertical-align: middle;
          .actionItemImg50 {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
          .actionItemImg35 {
            width: 35px;
            height: 35px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

